@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f172a;
  /* border-radius: 50%; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15171e;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto; /* Slide covers 200px of the viewport */
  min-width: 0;
  margin-right: 10px;
}

/* Style the track (background of the slider) */
.slider {
  -webkit-appearance: none; /* Remove default styling (Webkit browsers) */
  appearance: none; /* Remove default styling */
  width: 100%; /* Full width */
  height: 2px; /* Track height */
  background: #e0e0e0; /* Light gray background */
  border-radius: 3px; /* Rounded track edges */
  outline: none; /* Remove the outline */
  transition: background 0.3s; /* Smooth background transition */
}

.slider:hover {
  background: #d0d0d0; /* Darken background on hover */
}

/* Style the thumb (draggable part) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default Webkit thumb styling */
  appearance: none;
  width: 8px; /* Thumb width */
  height: 8px; /* Thumb height */
  background: #e0e0e0; /* Bright orange thumb */
  border-radius: 50%; /* Make it circular */
  cursor: pointer; /* Add pointer cursor */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  transition:
    background 0.3s,
    transform 0.3s; /* Smooth transitions */
}

.slider::-webkit-slider-thumb:hover {
  background: #e0ee0e; /* Darken thumb on hover */
  transform: scale(1.1); /* Slightly enlarge thumb */
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 8px;
  background: #e0e0e0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition:
    background 0.3s,
    transform 0.3s;
}

.slider::-moz-range-thumb:hover {
  background: #e0e0e0;
  transform: scale(1.1);
}

/* Style for Internet Explorer and Edge (optional) */
.slider::-ms-thumb {
  width: 8px;
  height: 8px;
  background: #e0e0e0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.openseadragon-container {
  width: 100%;
  height: 100%;
  background: none transparent;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.openseadragon-canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  touch-action: none;
  text-align: left;
}

.drawer-scroll {
  overflow-y: auto;
  max-height: 100%;
  overscroll-behavior: contain; /* prevents scroll chaining */
}
