@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}
body {
  /* box-sizing: border-box; */
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f172a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15171e;
}
