@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 3px;
  height: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f172a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #15171e;
}

@layer utilities {
  .bg-dot-pattern {
    /* Adjust size (20px) and dot color/size (#e5e7eb) as needed */
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 20px 20px;
  }
}
